@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #0A141D;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dark-blue {
  background-color: #0A141D;
}

.light-blue-text {
  color: #5CBEFF;
}

.light-blue {
  background-color: #5CBEFF;
}

hr.light-blue{
  border-color: #5CBEFF;
}

.grey{
  background-color: #363C42;
}

/* .drop-shadow{
  filter: drop-shadow(-5px -5px 0px #5CBEFF);
} */

.custom-shadow:hover{
  filter: drop-shadow(5px 5px 0px #5CBEFF);
}

.grey-text{
  color: #363C42;
}

@keyframes techStackCarouselAnimation1 {
  0% {
    left: 0
  }
  100% {
    left: -810px;
  }
}

@keyframes techStackCarouselAnimation2 {
  0% {
    right: 810px;
  }
  100% {
    right: 0;
  }
}
.techStackCarousel1 {
  animation: techStackCarouselAnimation1 45s linear infinite;
}

.techStackCarousel2 {
  animation: techStackCarouselAnimation2 45s linear infinite;
}

/* body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
} */
/* #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #232741;
  background-size: 20%;
  background-position: 50% 50%;
} */

.indexing{
  z-index: 50;
}

@layer components{
  .hoverAnimation {
    @apply hover:bg-[#d9d9d9] hover:bg-opacity-10 rounded-full w-[100px] h-[100px] cursor-pointer transition duration-500 ease-in-out;
  }
}

.arrow {
  width: 25px;
}

/* .hovering-arrow
{
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
} */
div:hover + .arrow
{
  width: 100px;
}

.animate-arrow {
  position: relative;
  animation: arrow 2s ease-in-out infinite;
}

.animate-arrow-div:hover .animate-arrow {
  position: relative;
  animation: arrow 1s ease-in-out infinite;
}

@keyframes arrow {
  0%,
  100% {
    left: 0;
  }

  50% {
    left: 8px;
  }
}

.animate-line {
  position: relative;
  animation: animate-line 5s ease-in-out infinite;
}

@keyframes animate-line {
  0%,
  100% {
    width: 0;
  }

  50% {
    width: 100%;
  }
}

.animate-line-sm{
  position: relative;
  animation: animate-line-sm 5s ease-in-out infinite;
} 

@keyframes animate-line-sm {
  0%,
  100% {
    width: 0;
  }

  50% {
    width: 100%;
  }
}

.animate-social-line {
  position: relative;
  animation: animate-social-line 5s ease-in-out infinite;
} 

@keyframes animate-social-line {
  0%,
  100% {
    height: 0;
  }

  50% {
    height: 100%;
  }
}
.animate-social-line-reversed {
  position: relative;
  animation: animate-social-line-reversed 5s ease-in-out infinite;
} 

.line-reversed{
  transform: scaleY(-1);
}

@keyframes animate-social-line-reversed {
  0%,
  100% {
    height: 0;
  }

  50% {
    height: 100%;
  }
}